<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">



 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
      <link rel="stylesheet" href="/public/stylesheets/formPage.css">
    

</head>
<body background="/public/images/background_image.jpg">

<div class="header">
  <a href="#default" class="logo"><img src="/public/images/logo"  height="62" width="130"></a>
  <div class="header-right">
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</div>
<div id="error" class ="error" hidden></div>
<div id = "closebtnId" class="closebtn" hidden> &times;</div>
{{#if hasErrors}}
    <p id = "error_alert"  class="error">{{error}}</p>
     <div id = "closebtnId1" class="closebtn"> &times;</div>
  {{/if}}
<div >{{userID}}</div>
  <form class="box" id ="changePasswordForm" form action="/users/resetPassword?id={{userID}}"  method="POST" >
        <h1>Change Password</h1>   
        <input type="hidden" value="" id="userId" name="userId"> 
        <input id = "password" type="password" name = "password" placeholder="Password" >
       <input id = "repassword" type="password" name = "repassword" placeholder="Re-enter Password" >
        <input type="submit" value="Done" placeholder="Done">
    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='/public/scripts/script_changepassword.js'></script>

</body>

</html>